<div class="flex-column text-center">
<h2>Profile 👤</h2> <br/>
{{#if loggedIn}}
<h6>First name: {{fn}}</h6> <br/>
<h6>Last name: {{ln}}</h6> <br/>
<h6>Email: {{email}}</h6> <br/>
<button class="btn btn-light"><a href="http://localhost:3000">Home 
</a></button>
{{/if}}
</div>

